{% extends 'base.html' %}

{% block content %}

<!-- Верхняя панель -->
<div class="row bg-success bg-gradient p-4 m-auto text-white">
    <!-- Заголовок панели -->
    <div class="col bg-header-admin m-auto fs-3 fw-semibold">Панель Студента {{name}} Группа {{ group }}</div>
    <!-- Кнопка Назад -->
    <a href="/student_panel" class="btn btn-lg btn-danger col-auto justify-content-end link-light link-underline-opacity-0">Назад</a>
</div>

<div class="container text-center align-items-center py-5">
    <div class="row">

        <!-- Аккордион --- Рекомендации пользователю -->
        <div class="accordion">
            {% for recoms in recom %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <!-- В батоне создать loop число и дублировать его!!! -->
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{loop.index}}" aria-expanded="True" aria-controls="{{loop.index}}">
                        Рекомендация № {{loop.index}}
                    </button>
                </h2>
                <!-- Тут тоже продублировать loop число -->
                <div id="{{loop.index}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{recoms.recomendation_id.rec_text}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}